<h1>Create a New User</h1>
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
    <p><%= error %></p>
    <% end %>
<% end %>
<form action ="/users" method="post">
    <input name="authenticity_token" value="<%=form_authenticity_token%>" type="hidden">
    <h2>Name <input type="text" name="name" placeholder="Your Name Here"/></h2>
    <input type="submit" value="Create"/>
</form>
<a href="/">Home</a>
